

@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-family: 'Poppins', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
}


a{
  text-decoration: none;
  color: white;
}
a,
a:hover,
a:focus {
    color: white;
    text-decoration: none;
    transition: all 0.3s;

}

.tag_a{
  color: white;
}

.navbar {
    padding: 15px 10px;
    background: #000000;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    color: blackS;
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #363636;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #363636;
}

#sidebar ul.components {
    padding: 20px 0;
    border-bottom: 1px solid #363636;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar ul li a:hover {
    color: #363636;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #363636;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #363636;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #363636;
}

a.article,
a.article:hover {
    background: #363636 !important;
    color: #fff !important;
}



/* ---------------------------------------------------
    SIDEBAR STYLE RIGHT
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar-right {
    width: 250px;
    position: fixed;
    top: 0;
    left: 85%;
    height: 100vh;
    z-index: 999;
    background: red;
    color: #fff;
    transition: all 0.3s;
}

#sidebar-right.active {
    margin-left:100%;
}

#sidebar-right .sidebar-header {
    padding: 20px;
    background: red;
}

#sidebar-right ul.components {
    padding: 20px 0;
    border-bottom: 1px solid red;
}

#sidebar-right ul p {
    color: #fff;
    padding: 10px;
}

#sidebar-right ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
}

#sidebar-right ul li a:hover {
    color: red;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: red;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-right: 30px !important;
    background: red;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: red;
}

a.article,
a.article:hover {
    background: red !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content.all {
    width: 100%;
}

#content {
    width: calc(100% - 250px);
    padding: 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
    background-color:white;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }


    #sidebar-right {
        margin-left:100%;
    }
    #sidebar-right.active {
        margin-right: 0;
    }
    #content-right {
        width: 100%;
    }
    #content-right.active {
        width: calc(100% - 250px);
    }
    #sidebar-rightCollapse span {
        display: none;
    }

    .cardapio_label{
        

    }


}
/*cardapio*/

@import url("https://fonts.googleapis.com/css?family=Lato:400,700");



.container_cardapio {
 
  position: relative;
  margin-bottom: 25px;
  width: 350px;
  height: 250px;
  background: #F5F5F5;
  box-shadow: 5px 5px 15px #000000;
  border-radius: 10px;
  margin-right: 15px;
}

.item {
    margin: 5px;
    background: tomato;
    text-align: center;
    font-size: 1.5em;
}

.grid {
    max-width: 400px;
    margin: 0 auto;
    border: 1px solid #ccc;
}

.desc {
  text-transform: none;
  letter-spacing: 0;
  margin-bottom: 17px;
  color: #4E4E4E;
  font-size: .9em;
  line-height: 1.6em;
  margin-right: 25px;
  text-align: justify;
}

.product {
  position: absolute;
  width: 40%;
  height: 100%;
  top: 10%;
  left: 60%;
}

.add {
  width: 85%;
}

.pick {
  margin-top: 11px;
  margin-bottom: 0;
  margin-left: 20px;
}

.focus {
  background: #BA7E7E;
  color: #F5F5F5;
}

.imagem_cardapio {
  width: 150px;
  margin-top: 40px;
  padding: 30px;
}

.titulo_cardapio {
  font-size: 1.2em;
  color: #363636;
  margin-top: -5px;
}

.linha_cardapio {
  color: #ff0000;
  margin-top: -5px;
  font-size: 1.2em;
}

.paragrafo {
  margin-top: -10px;
  font-size: 0.7em;
  color: #363636;
  letter-spacing: 1px;
  word-wrap: break-word;
  width: 30%;

}



.button_cardapio {
  background: #363636;
  padding: 5px;
  display: inline-block;
  outline: 0;
  border: 0;
  margin: -1px;
  border-radius: 2px;
  text-transform: uppercase;
  letter-spacing: 1px;
  color: #F5F5F5;
  cursor: pointer;
}